.Hero-Background {
    background: url('./Hero-Images/image.png') no-repeat center center;
    background-size: cover;
    height: 550px; 
    width: 1279px; 
    position: relative;

}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Ensure the navbar stays on top of the hero image */
}

.hero-content {
    text-align: center;
    color: white;
    padding-top: 150px; 
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
}
